<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>First Entry </strong>
  <%= @message.entries.first.title %>
</p>

<p>
  <strong>Last Entry </strong>
  <%= @message.entries.last.title %>
</p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
